.feinman {
    min-height: 790px;
    background-color: #f2f2f2;
    background-image: url('./../../images/feinman.png');
    background-repeat: no-repeat;
    background-position-y: 253px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    box-sizing: content-box;
}