@import url('./_theme/table__cell_theme_dark.css');

.table__cell {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 250px;
    padding-left: 0;
    margin-bottom: 60px;
}