.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
    width: 183px;
    height: 32px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color:  rgb(69, 160, 245);
}

/*-------------HEADER--------------*/

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    padding-left: 64px;
    position: relative;
    display: flex;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__title {
    width: 540px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    align-self: center;
    z-index: 2;
}

.header__subtitle {
    width: 389px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    bottom: 30px;
    left: 64px;
    z-index: 2;
}

.header__link {
    color: #2f80ed; 
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}


/* --------------DESCRIPTION----------------*/

.description {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    margin: 0;
}

.two-columns__description { 
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    color: #2f80ed;
    min-width: 175px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
}

.two-columns__main-text {
    min-width: 784px;
}

.two-columns__paragraph:not(:last-child) {
    margin-bottom: 30px;
}

.two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 0 74px;
    margin: 0;
}

.two-columns__span-accent {
    font-weight: bold;
    line-height: 34px;
    font-size: 24px;
}


/*-------------------DIGITS---------------- */

.digits {
   margin: 100px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.section-title {
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    width: 60%;
}

.section-subtitle {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin: 20px 0 60px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
    margin: 0;
    padding-inline-start: 0;
}

.table__cell {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 250px;
    padding-left: 0;
    margin-bottom: 60px;
}

.table__heading {
    line-height: 1.15;                    
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.table__text:not(:last-child) {
    padding-bottom: 20px;
}


/*----------------------FEYNMAN------------------- */

.feinman {
    min-height: 790px;
    background-color: #f2f2f2;
    background-image: url('../images/feinman.png');
    background-repeat: no-repeat;
    background-position-y: 253px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    box-sizing: content-box;
}

.feinman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    margin: 0;
    text-align: center; 
}

.feinman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    padding-top: 70px;
}

.feinman__link {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #000000;
    right: 48px;
    top: 50%;
    position: absolute;
}


/*------------- KAUFMAN -----------------------------*/

.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    background-image: url('../images/triangle.svg');
    background-repeat: no-repeat;  
    background-position-x: calc(100% + 210px); 
    background-size: 877px; 
}


.section-title_theme_dark {
    text-align: center;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    width: 60%;
    color: white;
    padding-top: 90px;
    z-index: 2;
}

.section-subtitle_theme_dark {
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin: 20px 0 80px;
    color: white;
    z-index: 2;
}

.table_theme_dark {
    z-index: 2;
    margin-bottom: 10px;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin: 0 0 80px;
}


/*------------- FOOTER ----------------*/

.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 0 40px;
}

.footer__columns {
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    flex-direction: column;
    justify-content: space-between;
}

.logo_place_footer {
    height: 35px;
    padding: 0;
}

.footer__author {
    padding: 18px 0 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;
}

.footer__column-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
}

.footer__column-link:last-child{
    margin-bottom: 16px;
} 

.link_theme_dark {
    color: white;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.footer__column_content_social {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}